<%- include('../partials/header') %>

<img id="kids" src = "/images/banner.png">
<h3>Autism Resource Submission Form</h3>
<br><br>
<form id="new-form" action="/resources" method="POST">
  <label>Name of Organization:</label>
  <input type="text" name="organization">
  <label>Website:</label>
  <input type="text" name="website">
  <label>Address:</label>
  <input type="text" name="address">
  <label>Phone Number:</label>
  <input type="text" name="phone">
  <label>Practitioner (Please separate with commas):</label>
  <input type="text" name="practioner">
  <label>Type of Therapy Offered</label>
  <select name="service">
    <option value="Speech Therapy">Speech Therapy</option>
    <option value="Occupational Therapy">Occupational Therapy</option>
    <option value="Physical Therapy">Physical Therapy</option>
    <option value="ABA">ABA</option>
    <option value="Other">Other Types of Behavioral Therapy</option>
  </select>
  <label>If you chose "other", please indicate type of therapy</label>
  <input type="text" name="other">
  <label>Available Through Telehealth:</label>
  <input type="checkbox" name="telehealth" checked>
  <input type="submit" value="SUBMIT">
</form>
  
<%- include('../partials/footer') %>

