<%- include('../partials/header') %>

<form id="new-form" action="/resources" method="POST">
  <label>Name:</label>
  <input type="text" name="name">
  <label>Website:</label>
  <input type="text" name="website">
</form>

<%- include('../partials/footer') %>
