<%- include('../partials/header') %>

<img id="kids" src = "/images/banner.png">
<h3>Autism Resource Submission Form</h3>
<br><br>
<form id="new-form" action="/resources" method="POST">
  <label>Organization:</label>
  <input type="text" name="organization">
  <label>Website:</label>
  <input type="text" name="website">
  <label>Practioner (Please separate with commas):</label>
  <input type="text" name="practioner">
  <label>Available Through Telehealth:</label>
  <input type="checkbox" name="telehealth" checked>
  <input type="submit" value="SUBMIT">
</form>
  
<%- include('../partials/footer') %>

