<%- include('../partials/header') %>

<section id="show-page">
  <div>Name: </div>
  <div><%= resource.name %></div>
  <div>Website: </div>
  <div><%= resource.website %></div>
</section>
  
<%- include('../partials/footer') %>
