<%- include('../partials/header') %>

<header>
  <h3>Meet Aidan...</h3>
</header>
  <p class = text></p>
  <section>
    <img src="/images/aidan.jpg" alt="Aidan" class="about"><br><br>
  </section>

<%- include('../partials/footer') %>