body {
    background-color: rgb(243, 227, 252);
}

  
.card .card-content .card-title {
    margin-bottom: 10px;
}
  
header {
    height: 100px;
}

.logo {
    margin-left: 25px !important;
    font-family: Seaweed Script;
    font-size: 30px;
    font-weight: strong;
    color: purple;
}

h1 {
    font-family: 'Seaweed Script';
    font-size: 72px;
}
h3 {
    font-family: 'Roboto';
    font-size: 48px;
}

.collection-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
#search-row form {
    padding-top: 20px;
}
  
.client-name {
    position: relative;
    top: -5px;
    font-family: "Seaweed Script";
}

.material-icons{
    color: black;
}

.button{
    color: purple;
}
